    <div id="overlay">



<h1 style="width:100%; height:50px;text-align: center; color:white; margin-top:1rem;" class="ui">Hurricane WebVIS</h1>
<button style="top:0" id="fire" class="ui">Fire</button>
<button style="bottom:0" id="spell" class="ui">Spell</button>
<button style="right:0" id="health" class="ui menubutton" data-name="start"> <i class="fas fa-info-circle"></i> </button>
<button style="right:0; bottom:0;" id="shield" class="ui">Infoa</button>


<div style="width:100%; height:4rem;bottom:0; color:white; margin-bottom:1rem; display: flex; justify-content: center; align-items: center;" class="ui">
<div id="slider" style="width: 40%"></div>
</div>


  <div id="info" class="hidden ui">
          <div style="position: relative">
            <span id="close">
              <svg
                role="button"
                xmlns="http://www.w3.org/2000/svg"
                viewbox="0 0 30 30"
              >
                <title>Close</title>
                <path
                  fill="#fff"
                  stroke="#000"
                  d="M14.348 14.849a1.2 1.2 0 0 1-1.697 0L10 11.819l-2.651 3.029a1.2 1.2 0 1 1-1.697-1.697l2.758-3.15-2.759-3.152a1.2 1.2 0 1 1 1.697-1.697L10 8.183l2.651-3.031a1.2 1.2 0 1 1 1.697 1.697l-2.758 3.152 2.758 3.15a1.2 1.2 0 0 1 0 1.698z"
                />
              </svg>
            </span>
          </div>

  <div id="start" class="infobox hidden">
    <div>
      <h2>Welcome to Hurricane WebVis</h2>
            <p>
            Hurricanes are awesome
            </p>
            <p>
              A hurricane can do a lot
            </p>
      <h3>How Hurricanes originate?</h3>
      <iframe width="560" height="315" src="https://www.youtube.com/embed/wPDoIrGUrEc" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div>

    </div>
          </div>


    </div>
